* {
  font-family: cursive;
}
body {
    background-color: #f7cdd0;
}

.fade-out {
  animation: hideText 1s forwards;
  animation-delay: 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes hideText {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.container {
  height: 100vh;          /* Full screen height */
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
}

.hrtimage {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 4s;
}

